<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Data Table with Filter Row Feature</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/AddWorkTrainer.css">
</head>
<body>
    <div class="topnav">
        <a class="active" href="/Addsession">Add Session</a>
    </div>

    <div class="table-wrapper">

        <div class="table-title">
            <div class="row">
                <div class="col-sm-6"><h2>{{trainerName}}</h2></div>
                
            </div>
        </div>

        <div class="row">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Session ID</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Participants</th>
                        <th>Duration</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each sessRes}}
                    <tr>
                        <td>{{this.sessionId}}<a href="#" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons" style="font-size: 10px;"></i></a></td>
                        <td>{{this.sessDate}}<a href="#" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons" style="font-size: 10px;"></i></a></td>
                        <td>{{this.sessTime}}<a href="#" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons" style="font-size: 10px;"></i></a></td>
                        <td>{{this.numOfParticipants}}<a href="#" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons" style="font-size: 10px;"></i></a></td>
                        <td>{{this.duration}}<a href="#" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons" style="font-size: 10px;"></i></a></td>
                        <td>{{this.pName}}<a href="#" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons" style="font-size: 10px;"></i></a></td>
                    </tr>
                    {{/each}}
        </div>

        <br>
        <br>
        <br>

            <div class="row">
                <h3>Add New Session</h3>
                <tr>
                    <td><label for="Date"></label><input placeholder="yyyy-mm-dd" type="text" name="date" id="sessDate" size="8"></td>
                    <td><label for="Time"></label><input placeholder="00:00:00" type="text" name="time" id="sessTime" size="8"></td>
                    <td><label for="Participants"></label><input placeholder="Group Size" type="text" name="participants" id="numOfParticipants" size="8"></td>
                    <td><label for="Duration"></label><input placeholder="Duration" type="text" name="duration" id="duration" size="5"></td>
                    <td><label for="Trainer"></label><input placeholder="Trainer" type="text" name="trainer" id="tid" size="8" value={{tid}}></td>
                    <td>
                        <select id="pName" name="Plan Name">
                            {{#each planRes}}
                                <option value="{{this.planName}}">{{this.planName}}</option>
                            {{/each}}
                        </select>
                    </td>
                </tr>
                
            </tbody>
        </table>

            <div class="row">
                <div class="col-sm-6">
                    <div class="btn-group2" data-toggle="buttons">
                        <label class="btn btn-success">
                            <input id="newSessBtn" type="radio" name="status" value="active"> Add Session
                        </label>							
                    </div>
                </div>
            </div>

        </div>


        <br>
        <br>
        <br>
        <br>
        <br>

        <div class="row">
            <h3>Update Or Delete Session</h3>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Session ID</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Participants</th>
                        <th>Duration</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><label for="Session ID"></label><input placeholder="Session ID" type="text" name="date" id="sessionID" size="8"></td>
                        <td><label for="Date"></label><input placeholder="yyyy-mm-dd" type="text" name="date" id="sessDate2" size="8"></td>
                        <td><label for="Time"></label><input placeholder="00:00:00" type="text" name="time" id="sessTime2" size="8"></td>
                        <td><label for="Participants"></label><input placeholder="Group Size" type="text" name="participants" id="numOfParticipants2" size="8"></td>
                        <td><label for="Duration"></label><input placeholder="Duration" type="text" name="duration" id="duration2" size="5"></td>
                        <td><label for="Trainer"></label><input placeholder="Trainer" type="text" name="trainer" id="tid2" size="8" value={{tid}}></td>
                        <td>
                            <select id="pName2" name="Plan Name">
                                {{#each planRes}}
                                    <option value="{{this.planName}}">{{this.planName}}</option>
                                {{/each}}
                            </select>
                        </td>
                    </tr>
                </div>

                <div class="row">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="btn-group2" data-toggle="buttons">
                                <label class="btn btn-success">
                                    <input id="upSessBtn" type="radio" name="status" value="active"> Update Session
                                </label>							
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="btn-group2" data-toggle="buttons">
                                <label class="btn btn-success">
                                    <input id="delSessBtn" type="radio" name="status" value="active"> Delete Session
                                </label>							
                            </div>
                        </div>
                    </div>
                </div>

            </tbody>
        </table>
    </div>     
</body>
 <script type="text/javascript" src="AddSession.js"></script>
</html> 
