<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/AddWorkout.css"/>
    <script type="text/javascript" src="AddWorkout.js" defer></script>
</head>
<body>

    <!--Nav Menu-->
    <div class="topnav">
        <a class="active" href="/AddWorkout">Home</a>
        <a href="/Rate">Rate</a>
        <a href="/logout">Logout</a>
        <!-- Search form -->
        <div class="md-form mt-0">
        <input id="search-content" class="form-control" type="text" placeholder="Search by trainer..." aria-label="Search">
        <button class="btn btn-danger" id="search-btn">Search</button>
        </div>
    </div>

    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6"><h2>My sessions</h2></div>
                <div class="col-sm-6">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-success">
                            <input id="delete-all-btn" type="radio" name="status" value="active"> Delete All
                        </label>							
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Trainer</th>
                    <th>Rating</th>
                    <th>Workout</th>
                    <th>Description</th>
                    <th>Difficulty</th>
                    <th>Date&Time</th>
                    <th>Duration(Min)</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody class="search-results">
                {{#each memSessions}}
                <tr>
                    <td>{{this.firstName}} {{this.lastName}}</td>
                    <td>{{this.rating}}</td>
                    <td>{{this.pName}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.difficulty}}</td>
                    <td>{{this.sessDate}}</td>
                    <td>{{this.duration}}</td>
                    <td>{{this.Full}}</td>
                    {{!-- <td><input type="checkbox" class="form-check-input" id={{this.sesssionId}}></td> --}}
                </tr>
                {{/each}}
                {{!-- <tr>
                    <td>Ted Hodges</td>
                    <td>8</td>
                    <td>Aerobics</td>
                    <td>Aerobics</td>
                    <td>Expert</td>
                    <td>06/01/20 16:00</td>
                    <td>45</td>
                    <td>Full</td>
                    <td><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                </tr> --}}
            </tbody>
        </table>
    </div>

    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Add Workout Session</h2>
                </div>
                <div class="col-sm-6">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-success">
                            <input type="radio" id="add-sessions-btn" name="status" value="active"> Confirm
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Trainer</th>
                    <th>Rating</th>
                    <th>Workout</th>
                    <th>Description</th>
                    <th>Difficulty</th>
                    <th>Date&Time</th>
                    <th>Duration(Min)</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody class="search-results">
                {{#each data}}
                <tr>
                    <td>{{this.firstName}} {{this.lastName}}</td>
                    <td>{{this.rating}}</td>
                    <td>{{this.pName}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.difficulty}}</td>
                    <td>{{this.sessDate}}</td>
                    <td>{{this.duration}}</td>
                    <td>{{this.Full}}</td>
                    <td><input type="checkbox" class="form-check-input" id="{{this.sessionId}}"></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

</body>
</html> 
